

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: rgba(241, 241, 243, 1);
   
}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 1275px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    
    
}
nav h1{
    margin: 24px 0px 24px 125px;
    font-size: 25px;
    font-weight: bold;
    color: #0E0E0E;
}
nav .btn{
    height: 41px;
    width: 92px;
    margin: 19px 140px 19px 0px;
    padding: 12px 24px;
    color: #006A50;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #006A50;
}
.banner{
    display: flex;
    margin: 16px 125px 64px 125px;
    gap: 51px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 19px;
   
}
.banner-textarea{
    height: 260px;
    width: 497px;
    padding: 93px 0px 93px 47px;
}
.banner-textarea p{
    font-size: 19px;
    font-weight: 320px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 12px;
}
.banner-textarea h1{
    font-size: 36px;
    font-weight: 300px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 16px;
}
.banner-btn{
    height: 44px;
    width: 215px;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    padding: 13px 27px;
    border-radius: 6px;
    border: none;
}
.banner-image img{
    height: 320px;
    width: 379px;
    padding: 64px 47px 64px 0px;
}
.pillar{
    margin: 0px 125px 64px 125px;
}
.pillar h2{
    font-size: 30px;
    font-weight: 560px;
    padding-bottom: 25px;
}
.foundation{
    display: flex;
    gap: 19px;
}
.development{
    width: 240px;
    height: 195px;
    border-radius: 12px;
    background-color: white
    
}
.development img{
    height: 51px;
    width: 51px;
    padding: 19px 0px 19px 19px;
}
.development h3{
    font-size: 16px;
    font-weight: 300px;
    color: rgba(14, 14, 14, 0.8);
    padding: 0px 19px 9px 19px ;
}
.development p{
    font-size: 12px;
    padding: 0px 19px 19px 19px;
    color: rgba(14, 14, 14, 0.7);
   
}
.future-vision{
    width: 1024px;
    height: 612px;
    margin: 0px 125px 64px 125px;
}
.future-vision h1{
    font-size: 32px;
    font-weight: 420px;
    color: rgba(14, 14, 14, 1);
    padding-bottom: 19px;
}
.future-vision p{
    font-size: 12px;
}
.description{
    padding-bottom: 25px;
}
.card-container{
    display: flex;
    gap: 19px;
    padding-bottom: 25px;
}
.card{
    height: 260px;
    width: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 12px;
}
.card img{
    height: 51px;
    width: 51px;
    padding: 25px 252px 19px 25px;
}
.card h3{
    padding: 0px 25px 9px 25px;
    font-size: 16px;
    font-weight: 560px;
    color: rgba(14, 14, 14, 0.8);
}
.card p{
    padding: 0px 25px 0px 25px;
}
.card-btn{
    height: 32px;
    width: 97px;
    margin: 19px 204px 25px 25px;
    color: white;
    font-size: 12px;
    padding: 8px 16px;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    border-radius: 6px;
    
}
.card2{
   background-color: rgba(198, 228, 214, 1);
}
.card3{
    background-color: #F7EBCF;
}
.card-btn2{
    background-color: rgba(9, 161, 92, 1);
}
.card-btn3{
    background-color: #FFC239;
}
.about-bd{
    height: 204px;
    width: 1024px;
    background-color: white;
    border-radius: 8px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 51px 51px;
    background-position-x: 2%;
    background-position-y: 8%;
}
.think-about{
    padding: 38px 19px 9px 19px;
}
.about-bd h3{
    padding-left: 19px;
    padding-bottom: 3px;
}
.identity{
    padding-left: 19px; 
}
button:hover{
    background-color: black;
}
.card:hover{
    background-color: aquamarine;
    font-size: larger;
}
.about-bd:hover{
    background-color: beige;
    font-size: larger;
}
.pillar:hover{
    background-color: gainsboro
}
.election{
    margin: 0px 125px 64px 125px;
}
.election{
    height: 384px;
    width: 1024px;
}
.election h1{
    font-size: 32px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 19px;
}
.table-area{
    height: 327px;
    width: 1024px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
table{
  height: 276px;
  width: 972px;
  border-collapse: collapse;    
  
}
thead tr{
    border: 1px solid rgba(14, 14, 14, 1);
    height: 57px;
    width: 972px;
    background-color: rgba(198, 228, 214, 1);
    text-align: left;
    
}
tbody td{
    border: 1px solid rgba(14, 14, 14, 1); 
    height: 73px;
     
}
.shel-1{
    width: 813px;
    font-size: 12.5px;
}
select{
    width: 121px;
    height: 35px;
    background-color: rgba(198, 228, 214, 1);
    margin: 19px;
    font-size: 12.5px;
    font-weight: 66px;
    padding: 9px 14px;
    border-radius: 3px;
}
/* news-section */
.recent-news{
    height: 1124px;
    width: 1024px;
    margin: 0px 125px 64px 125px;
    
}
.recent-news h1{
    font-size: 30px;
    font-weight: 560px;
    margin-bottom: 19px;
}
.recent-news p{
    font-size: 13px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.news{
    width: 1024px;
    height: 321px;
    display: flex;
    gap: 25px;
    background-color: white;
    border-radius: 19px;
    margin-bottom: 19px;
}
.news-image img{
    width: 326px;
    height: 244px;
    border-radius: 19px;
    margin: 38px 0px 38px 38px;
}
.news-content{
    height: 232px;
    width: 595px;
    margin: 43px 38px 43px 0px;
}
.news-content h1{
    font-size: 25px;
    margin-bottom: 9px;
}
.news-image2{
    width: 107px;
    height: 32px;
    margin-bottom: 2px;
}
.news-content p{
    margin-bottom: 20px;
}
.news-button{
    height: 38px;
    width: 109px;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 6px;
    border: none;
}
.news2{
    flex-direction: row-reverse;
} 
.news2 .news-image img{
    margin-right: 38px;
}
.news2 .news-content{
    margin-left: 38px;
}
.donate-section{
    margin: 50px 125px 64px;
    height: 371px;
    width: 1024px;
}
.donate-section h1{
    font-weight: 32px;
    margin-bottom: 19px;
    text-align: center;
}
.donate-section p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}
.donate-amount{
    display: flex;
    justify-content: center;
    gap: 19px;
}
.money{
    height: 102px;
    width: 192px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12px;
    margin-bottom: 25px;
    
}
.money h1{
    padding: 32px;
}
.money:hover{
    background-color: rgba(198, 228, 214, 1);
}
input[type=text]{
    width: 825px;
    height: 51px;
    margin-left: 99px;
    text-align: center;
    background-color: white;
    border: none;
    margin-bottom: 25px;
}
.donate-section button{
    width: 124px;
    height: 44px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 6px;
    border: none; 
    margin-left: 451px;
}
.news-letter{
    margin: 0px 125px 64px 125px;
    height: 316px;
    width: 1024px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 18px;
    text-align: center;   
}
.subcription-form{
    padding: 64px 212px;
}
.news-letter h1{
    font-size: 30px;
    font-weight: 560px;
    margin-bottom: 12px;
}
.news-letter p{
    font-size: 12px;
    font-weight: 100px;
    margin-bottom: 19px;
}
.enter{
    display: flex;
    margin-bottom: 19px;
}
input[type=email]{
    height: 44px;
    width: 480px;
    padding-left: 32px;
    border: none;
}
.news-letter button{
    height: 45px;
    width: 120px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 2px;
    border: none;

}